<footer>
    <div class="spacer">
        <div class="copyright">
            <a class="undecorated" href="{{ $.Site.BaseURL }}">
                &copy; 2012-{{ now.Format "2006" }} echocat
            </a>
        </div>

        <div class="social">
            <span class="social-intro">Follow us on</span>
            <a href="https://github.com/echocat" class="social-link undecorated" title="Follow us">
                <i class="fab fa-github" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</footer>
